.header {
    background-color: rgba(0, 10, 255, 0.06);;
    padding: 24px 64px;
}

.content {
    margin: 30px auto;
    max-width: 1000px;
}

.footer {
    display: none;
    padding: 20px 64px;
    background-color: rgba(0, 10, 255, 0.06);
    text-transform: uppercase;
    text-align: right;
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    .page {
        padding-top: 100px;
        padding-bottom: 70px;
        display: table;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .footer {
        display: table-footer-group;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .footer:after {
        counter-increment: page;
        content: "Страница " counter(page) " из " counter(pages);
    }
}
